<div class="container-fluid container_padding" style="background-color:white">
  <!-- login section starts -->
<div class="row color-fff">
  <div class="col-lg-12 Star_DivStyle">
<div id="student_bg" class="col-lg-9 Star_BannerImg padding0">
  <div class="student_text font_robotobold" data-aos="fade-right" data-aos-duration="2000">
<h1 style="color:white;font-size: 40px;">ENRICH.<p class="m-top10">EMPOWER.</p><p>EXPLORE. <span style="color:#ffcb3c;">ENGAGE.</span></p></h1>    
  </div>
</div>
<!-- login starts -->
<div class="col-lg-3 Star_Register_Bnr " id="register_background">
  <!-- <div style="margin-top: 60px;text-align: center;">
    <h4  class="font_robotobold" style="color:#ffcb3c;font-size:25px">REGISTER</h4>
  </div> -->
  <div class="text-center" style="margin-top: 30%">
    <p class="font_robotobold" style="color:#ffcb3c;font-size:18px">Coming Soon!!!<br>Student Web App</p>
    </div>
  
  <!-- <div class="text-center" id="student_register">
        <mat-form-field >
          <input matInput placeholder="Username" style="color:#fff !important;">
        </mat-form-field>
        <mat-form-field >
          <input matInput placeholder="Email ID">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Password">
        </mat-form-field>
    <input type="button" (click)="commingsoon()" value="Submit" class="btn student_login">
  </div> -->

  
  <hr class="hr_login">

  <div class="text-center" style="margin-top:40px;">
      
         <p class="font_robotoregular hr_login1"><a href="https://play.google.com/store/apps/details?id=com.scoratech.scoraxchange" target="_blank">Download ScoraXchange App from your mobile play store</a></p> 
        
        <div class="m-top20">
        <img  data-aos="zoom-in" class="cursor-pointer center-block width168 img-responsive" src="assets/images/student_page_icons_new/playstore.png">
        </div>
        <p class="m-top20 font_robotoregular">Get in touch with your training/placement office for your ScoraXchange registration </p>
    </div>
  
  <!-- <div class="text-center">
      <p class="f-size12" style="color:#c8cacc">simply login with social media</p>
      <button class="btn signupFb-btn" (click)="commingsoon()"><i class="fa fa-facebook-f"></i>&nbsp;&nbsp;&nbsp;Facebook</button>&nbsp;
      <button class="btn signupLd-btn" (click)="commingsoon()"><i class="fa fa-linkedin"></i>&nbsp;&nbsp;&nbsp;Linkedln</button>
      <div class="m-top20">
          <span class="f-size12">Dont Have an account?</span>&emsp;
          <button class="btn signup">SIGN UP</button>
      </div>
     
  </div> -->
 
  
</div>

<!-- login ends -->

  </div>
</div>
  <!-- login section ends -->

  <!-- meet a world of oppurtunities starts-->
  <div class="row color-fff">
      <div  class="col-lg-12">
        <div style="transform: rotate(8deg);margin-left:  40px;margin-top: 7px;">
          <p class="font_robotobold" style="font-size:25px;color:#cdcfcf;">WE PROVIDE LEVEL PLAYING FIELD</p>
 <p class="font_robotomedium" style="margin-top: -11px;color:#cad0ca;font-size:16px">to all students and help them find trainings, internships and jobs</p>
</div>
<img id="col1" style="cursor:pointer" class="center-block arrow1 img-responsive aos-init aos-animate" data-aos="fade-zoom-in" data-aos-duration="2000" data-aos-easing="ease-in-back" data-aos-offset="0" 
src="assets/images/student_page_icons_new/arrow_1.png" style=" margin-top: -70px; cursor:pointer">
<div class="col1"></div>
          </div>
      <!-- <div class="col-lg-12">
          <img  class="center-block arrow1 img-responsive" data-aos="fade-zoom-in"
          data-aos-easing="ease-in-back"
          data-aos-offset="0" data-aos-duration="2000" src="assets/images/student_page_icons_new/arrow_1.png">
        </div> -->
  <div class="col-lg-12 " >
      <div class="col-lg-5 col-sm-5" >
        <img id="studenticon" data-aos="fade-right"  data-aos-duration="2500" data-aos-delay="160" class="center-block img-responsive width70 "   src="assets/images/student_page_icons_new/img_1.png">
        <!-- <img id="studenticon" class="center-block img-responsive width70 animated flash" src="assets/images/student_page_icons_new/img_1.png">        -->
      </div>
        <div class="col-lg-6 col-sm-7">
          <div class="margin_mediaquey" data-aos="fade-left" data-aos-duration="2500">
          <h1  class="Star_Header1 font_robotobold margintop40">Meet a world of oppurtunities</h1>
          <p class="student_font text-justify" style="color:#838386">
              ScoraXchange is designed to aid students in three major ways. One, it empowers them with skill sets needed for internships, right to final placements. Two, it allows them to showcase all of their talents, skills and academic achievements in a detailed, 
              and organised manner. Three, it opens up a world of career 
              opportunities for them to explore, by hosting millions of companies from across the country. Despite the extensive data base of students and companies, the platform’s simple yet powerful search and filter tools
              helps the companies find just right student. It is like finding a needle in haystack, only within seconds. 
          </p>
          </div>
        </div>
        <div class="col-lg-1 col-sm-12 "></div>          

  </div>
  </div>
  <!-- meet a world of oppurtunities ends-->
  


 

  <!-- carve an edge starts-->
  <div class="row color-fff">
      <div class="col-lg-12">
          <img  class=" arrow2" data-aos="fade-zoom-in"
          data-aos-easing="ease-in-back"
          data-aos-offset="0" style="cursor:pointer;" id="col2" data-aos-duration="2000" src="assets/images/student_page_icons_new/arrow_2.png">
        <div class="col2"></div>
        </div>
      <div class="col-lg-12 ">
        <div  class="col-lg-offset-1 col-lg-6 col-sm-7">
          <div class="margin_mediaquey" data-aos="fade-right"  data-aos-duration="2500">
       <h1 class="Star_Header1 font_robotobold">Carve an edge</h1>
       <p class="student_font text-justify" style="color:#838386">
        From the very first year of college, ScoraXchange brings in industry professionals to train and men-tor 
        the students. To add to that early beginning, the platform also hosts service providers, that en-rich the 
        students in more way than one, to make them better equipped for summer trainings, intern-ships, 
        apprenticeships and final placements. With an edge like that, along with their academic achievements, 
        the students come into the professional world with an edge that gives a boost to the start of their careers.
    </p>
      </div>
          </div>
          <div class="col-lg-5 col-sm-5 " >
            <img class="center-block img-responsive width70" data-aos="fade-left" data-aos-duration="2500" src="assets/images/student_page_icons_new/img_2.png">
            </div>
           
    
      </div>
      </div>
      <!-- carve an edge ends-->
     
      <!-- <div class="row color-fff">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
       
        <div class="pull-right">
          <img  class="" src="assets/images/student_page_icons_new/arrow_3.png">
        </div>
        </div>
        </div> -->


      <!-- perfect presentation starts -->
      <div class="row color-fff">
          <div class="col-lg-12 hidden-xs" >
              <div class="pull-right"  id="Perfect">
                <img  class="arrow3" data-aos="fade-zoom-in" id="col3" style="cursor:pointer;"                data-aos-easing="ease-in-back"
                data-aos-offset="0" data-aos-duration="2000" src="assets/images/student_page_icons_new/arrow_3.png">
                <div class="col3"></div>
              </div>
              </div>
        <div id="perfect_presentation" >
          <div style="margin-top:-50px" class="Star_Per_Pre">
          <div class="col-lg-12 background_color_grey" >
            <div class="col-lg-5 col-sm-5 ">
              <img class="center-block img-responsive margintop100" data-aos="fade-right"  data-aos-duration="2500"  src="assets/images/student_page_icons_new/img_3.png">
              </div>
              <div class="col-lg-6 col-sm-7 perere ">
              <div  class="margin_mediaquey margintop142" data-aos="fade-left" data-aos-duration="2500" >
                  <h1 class="fontColor_fff font_robotobold">The perfect presentation</h1>
                  <p class="student_font text-justify Star_FontStyle" style="color:#bdbdc0">
                    ScoraXchange allows students to make their personal digital profiles, listing all their 
                    personal infor-mation, skill sets, talents, academic achievements, projects and awards, 
                    certifications, and tal-ents.These profiles are not only detailed but also organised and 
                    efficient, in ways that it allows a student to present much more than just what they have 
                    achieved in college, hence making each profile stand out, when the employers look for 
                    candidates.  All of this information, that the students have gathered through their lives, 
                    is available to search & filter from, to employers across the na-tion. Hence, when a student’s 
                    dream company is scouting for talent, the platform matches that need, to the student’s relevant 
                    achievement and makes a fit, within seconds. 
                </p>
              </div>
                </div> 
        <div class="col-lg-1 col-sm-12 padding0 "></div>          
                
          </div> 
          </div>
        </div>
          </div>
      <!-- perfect presentation ends -->

      <div class="clearfix"></div>

      <!-- explore frm sea of options starts -->
      <div class="row color-fff">
          <div class="col-lg-12 col-md-12 hidden-xs">
              <img  class="arrow4" data-aos="fade-zoom-in" id="col4" style="cursor:pointer;"
              data-aos-easing="ease-in-back"
              data-aos-offset="0" data-aos-duration="2000" src="assets/images/student_page_icons_new/arrow_2.png">
              <div class="col4"></div>
            </div>
          <div class="col-lg-12" >
            <div  class="col-lg-offset-1 col-lg-6 col-sm-7">
              <div class="margin_mediaquey" data-aos="fade-right"  data-aos-duration="2500">
           <h1 class="Star_Header1 font_robotobold">Explore from a sea of options</h1>
           <p class="student_font text-justify" style="color:#838386">
            After years of compromising, now, the students have a say in the kind of job best suited to their 
            in-terests. As soon as a student logs in with their personal profile, they can explore millions of 
            compa-nies in a vast range, to explore working opportunities from. Not only this, despite the 
            extensive data, the intelligent filtering matches the students’ data with a company’s need and 
            sends notification to the students every time an opening is announced that is relevant to them. 
            And all of this, within a matter of seconds. So whether a student is a brand junkie, or a start-up 
            enthusiast, no opportunity can hereby go amiss. 
        </p>
          </div>
              </div>
              <div class="col-lg-5 col-sm-5">
                <img class="center-block img-responsive width70" data-aos="fade-left" data-aos-duration="2500" src="assets/images/student_page_icons_new/img_4.png">
                </div>
          </div>
          </div>
      <!-- explore frm sea of options ends -->
      

      
     <!-- projects heading starts -->
     <!-- <div class="row color-fff" >
      <div  style="margin-top:10px">
      <section class="module parallax parallax-3 height535_student">
        <div class="parallaxInner1">

          <div class="col-lg-offset-3 col-lg-6 col-sm-12">
          <h1 class="font_robotobold" data-aos="zoom-in" style="color:#ffcb3c">JOIN US</h1>
          <!-- <p>Get in touch with your training and placement office to download and register at the 
            ScoraXchange app from your mobile play store.
          </p>
          <div class="m-top20">
          <img style="width: 18%;" data-aos="fade-right" class="cursor-pointer" src="assets/images/student_page_icons_new/playstore.png">
          <img style="width: 20%;" data-aos="fade-left" class="cursor-pointer" src="assets/images/student_page_icons_new/appstore.png">                          
          </div> -->
          <!-- </div>

      <div class="col-lg-offset-2 col-lg-8 col-lg-offset-2 col-sm-12 m-top25">
       <div style="text-align:center" data-aos="fade-down" data-aos-duration="2500">
        <div class="col-lg-6 col-sm-6 padding0">
            <input  class="form-control lineheight50 contactwidth98" placeholder="Name">
        </div>
        <div class="col-lg-6 col-sm-6 padding0 m-btm10 margintop10">
            <input  class="form-control lineheight50 contactwidth98" placeholder="Mobile Number">
        </div>
        <div class="col-lg-12 col-sm-12 padding0">
            <input  class="form-control lineheight50 contactwidth99" placeholder="Email ID">
        </div>
        <div class="col-lg-12 col-sm-12 padding0 m-top10">
         <textarea class="form-control lineheight120 contactwidth99"  placeholder="Message"></textarea>            
        </div>
      </div> 
    </div> 
          
          
          <div class="col-lg-offset-3 col-lg-6 col-lg-offset-3 col-md-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-xs-12 ">
<div class="m-top15">
<button class="btn student_submit">Submit</button>
</div> -->
          <!-- </div>                    
        </div>
      </section>
    </div>
    </div> -->
    <!-- projects heading ends -->
      
  

</div>


<!-- footer section starts -->
<a  class="scrollToTop cursor-pointer"> </a>
<app-footer></app-footer>
<!-- footer section ends -->

