.loginDiv {
    background-image: url("../../../../../assets/images/InstituteLandingPage/login_bg_white.png");
    height: 500px;
    float: right;
    box-shadow: #000 10px 10px 10px;
    background-size: 100%;
}
.LoginClass{
    margin: 24px;
    margin-top: 35px;

}
#loginBox .mat-form-field-placeholder{
    color:#fff;
    text-align: center;
}
.LoginClass h2{
    color:#FFCA3C;
    font-size: 2em;
    text-align: center;
    margin-top: 85px;
    margin-left: 20px;
}
.in1{
    margin-top:40px;
    color: #999;
    font-size: 12px;
    font-weight:600;
    float: left; 
    margin-left: 30px;
}
 .in2{
    margin-top:40px;
    color: #3BA9FE;
    font-size: 13px;
    font-weight:600;
    float: right; 
    margin-right: 10px;
}
.classlogin_Inner{
    width:85%;
    margin-left: 8.5%;
    right: 6.5%;
}
.student_login {
    background:linear-gradient(to right, #3BA9FE , #30D9DF);
    width:200px;
    border-radius: 20px;
    padding: 10px;
    color:#fff;
    font-size: 1.1em;
    margin-top:40px;
    margin-left: 10px;
}
.textColor_fff{
    color: #fff;
}
.background_fff{
    background-color: #fff;
}
.themeColor{
   color: #ffcb3c;
}
.margin-top-5{
    margin-top: -5px !important;
}
.employeTheme{
    margin-top: 32%;
    margin-left: 5%;
}
.margintop-50{
    margin-top:50px;
}
.color_grey{
    color:#929292;
}
.margintop-8{
    margin-top:-8px;
}
.end-to-end-textHeading{
    margin-top: -68px;
    margin-left: 14px;
}
.end-to-end-text{
    text-align: justify;
    font-size: 16px;
    line-height: 26px;
    margin-top: -9px;
    margin-left: 14px;
}

.end-to-end-text1{
    text-align: justify;
    font-size: 16px;
    line-height: 26px;
    margin-top: -65px;
    margin-left: 14px;
}
.circle1{
    margin-left: -19px;
    width: 50px;
    margin-top: 48px;
}
.circle2{
    width: 50px;
    margin-left: -19px;
    margin-top: 55px;
}
.circle3{
    width: 50px;
    margin-left: -19px;
    margin-top: 52px;
}
.integrated_text{
    height: 230px;
    position: relative;
    top: 0px;
    z-index: 99;
}
.downpatch_Arrow{
    height: 70px;
    margin-top: -18px;
}
.muchMore_text{
    width: 85%;
    background: #ecf0f2;
    padding: 10px;
    border-radius: 0px 6px 6px 0px;
}

.muchMore_text1{
    width: 85%;
    padding: 10px;
    border-radius: 0px 6px 6px 0px;
}  

.right-arrow {
	display: inline-block;
	position: relative;
	background: #ecf0f2;
    padding: 10px;
    border: 5px;
    width: 85%;
}
.right-arrow:after {
	content: '';
	display: block;  
	position: absolute;
	left: 100%;
	top: 50%;
	margin-top: -10px;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #ecf0f2;
}
.muchMore_img{
    width: 90%;
    margin-top: 30px;
}
.muchmore_arrow{
    width: 57px;
    margin-top: -23px;
}
.margin-top70{
    margin-top:70px
}
.end_img{
    width:81%
}
.sea_img{
    width:81%;margin-top:-210px;
}
.margin-top50{
    margin-top:50px
}
.weConnect_img{
    width:70%;
}
.end-to-end_topPatch{
    margin-top: -163px;float:left;
}
.end-to-end_MiddleLayer{
   margin-top: -54px;float:left;
}
.perfectMatch_img{
    width:45%;margin-left: -28px;
}
.wider_search{
    width:45%;margin-left: -14px;
}
.real_time{
    width:45%;margin-left: -14px;
}
.right_icons{
    height: 345px;margin:auto;border-radius: 10px;background: #ffcb3c;width: 12%;margin-top: 10px;
}
/* .circle_01_768{
    width: 45px;
margin-left: 40px;
margin-bottom: 20px;
} */
.display_inline_block{
    display: inline-block !important;
}

/* .circle_02_768{
    width: 45px;
    margin-top: -65px;
}
.circle_03_768{
    width: 45px;
margin-left: 40px;
margin-top: -48px;
} */

.dispaly123{
    display: none !important;
}
.sea_icon01{
    width:45%;margin-left: -28px; 
}
.sea_icon02{
    width:45%;margin-left: -14px;
}

/* media quries starts */

/* @media(max-width:650px){
    .circle_01_768{
        margin-left: 20px;
        margin-bottom: 40px;
    }
    .circle_03_768{
        margin-left: 20px;
        margin-top: -58px;
    }

} */
/* @media(max-width:489px){
    .circle_01_768{
        margin-left: 20px;
        margin-top: -46px ;
        margin-bottom: 0px ;
    }
    .circle_03_768{
        margin-left: 20px;
        margin-top: -90px ;
    }
    .circle_02_768{
        width: 45px;
        margin-top: -119px;
    }
    .right-arrow{
        width: 75%;
    }
} */
@media(max-width:355px){
    .muchMore{
        width:65% !important;
    }
    /* .circle_02_768 {
        width: 45px;
        margin-top: -215px;
    }
    .circle_01_768 {
        margin-left: 10px;
        margin-top: -90px;
    }
    .circle_03_768 {
        margin-left: 10px;
        margin-top: -140px;
    } */
}

/* @media (max-width:1260px) and (min-width: 992px){
    .muchMore_img{
        margin-top: 20%;
    }
} */

@media (max-width:991px){
    .margin-top70{
        margin-top:0px;
    }
    .end_img{
        width: 55%;
        margin-top: 53px;
    }
    .sea_img{
        width: 81%;
       margin-top: -175px;
    }
    .margin-top50{
        margin-top:0px;
    }
    .muchmore_arrow{
        width: 44px;
        margin-top: -24px;
    }
    .end-to-end-text {
        margin-top: -12px;
    }
    .end-to-end-textHeading {
        margin-top: -65px;
    }
    .perfectMatch_img{
        width:154px;

    }
    .wider_search{
        width:154px;

    }
    .real_time{
        width:154px;
    }
    .circle3{
        margin-top: 76px;
    }
    .sea_icon01{
        width:154px;
    }
    .sea_icon02{
        width:154px;
    }
    .muchMore_img{
        margin-top: 45%;
    }
}
@media (max-width:930px){
    .circle3{
        margin-top: 97px;
    }
}
@media (max-width:815px){
    .circle1{
        margin-top: 72px;
    }
}
@media (max-width:770px){
    .circle3{
        margin-top: 133px;
    }
    .right_icons{
        height: 484px;
    }
}
@media (max-width:768px){
    .weConnect_img{
        width: 284px;
    }
    .end-to-end_topPatch{
        margin-top: -50px !important;
    }
    .end-to-end_MiddleLayer{
        margin-top: 0px !important;
     }
     .dispaly123{
         display: block !important;
     }
     .sea_icon01{
        width:120px;
    }
    .sea_icon02{
        width:120px;
    }
    .muchMore_img{
        margin-top: 60% !important;
    }
    
}


@media(max-width:1200px){
    .end-to-end-textHeading{
        margin-top: -50px;
    }
    .right_icons{
        height: 440px;
    }
    .circle1{
        margin-top: 67px;
    }
    .circle2{
        margin-top: 56px;
    }
    .circle3{
        margin-top: 83px;
    }
}
@media(max-width:1126px){
    .circle1{margin-top: 57px; }
    .circle2{ margin-top: 73px; }
    .circle3{ margin-top: 93px;}
    .end-to-end-text1 {
        margin-top: -50px;
    }
}

@media (max-width:767px) {
    .end-to-end-textHeading{
        margin-top: -46px;
       
    }
    .end-to-end-text{
    margin-top: -5px;
    margin-left: 14px;
   }
   .perfectMatch_img{
    width:120px;
    }
    .wider_search{
        width:120px;
    }
    .real_time{
        width:120px;
    }
    .width95_mobileView{
        width:95% !important;
    }
    .right-arrow:after {
        position: relative !important;
    }
}
@media only screen and (max-width: 1920px) and (min-width: 1367px)  {
    #employe_bg{
        height: 499px;
    }
    .employeTheme {
        margin-top: 28% !important;
        margin-left: 5%;
    }
    p{
        font-size: 18px;
    }
    .end-to-end-text{
        font-size: 20px;
    }
    .end-to-end-text1{
        font-size: 20px;
    }
    .pclass{
        font-size: 20px;
    }
    #credible_talent_background{
        background-size: 100%;
    }
}
