/* .container_padding{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.imgWidth_100{
    width:100%;
}
.imgBox{
    border:1px solid #ccc;
    border-radius: 4px;
    width : 90%;
    height: 410px;
}
.imgBox:hover
{
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 12px 2px #ccc;
}
.services_image{
    border-radius: 2px;
    width: 100%;
}
.contact_scora{
    margin: auto;
    width: 70%;
    padding: 20px 12px !important;
    margin-top: 7px;
    border-radius : 2px !important;
}
.mtop-7{
    margin-top:7px;
}
.submit-btn_slanding,
.submit-btn_slanding:hover {
  background-image: -o-linear-gradient(top, #272c2f 0%, #272c2f 100%);
  background-image: linear-gradient(to bottom, #272c2f 0%, #272c2f 100%);
  background-repeat: repeat-x;
  border-color: #272c2f;
  color: #ffffff;
}

.submit-btn_services {
    background-image: -o-linear-gradient(top, #272c2f 0%, #272c2f 100%);
    background-image: linear-gradient(to bottom, #272c2f 0%, #272c2f 100%);
    background-repeat: repeat-x;
    border-color: #272c2f;
    color: #ffffff;
    padding:10px 38px !important;
    border-radius: 2px !important;
}

.submit-btn_services:hover {
    background-image: -o-linear-gradient(top, #ea9215  0%, #ea9215  100%);
    background-image: linear-gradient(to bottom, #ea9215  0%, #ea9215  100%);
    background-repeat: repeat-x;
    border-color: #ea9215 ;
    color: #ffffff;
    padding: 10px 38px !important;
    border-radius: 2px !important;
}
.gif_css{
    position: absolute;
    left: 0px;
    right: 0px;
    margin: auto;
    margin-top: -126px;
    width: 30px;
}

.imgBox:hover .submit-btn_services {
    background-image: -o-linear-gradient(top, #ea9215  0%, #ea9215  100%);
    background-image: linear-gradient(to bottom, #ea9215  0%, #ea9215  100%);
    background-repeat: repeat-x;
    border-color: #ea9215 ;
    color: #ffffff;
    padding: 10px 38px !important;
    border-radius: 2px !important;
 }
 .serve_css{
    margin-top: -11px;
    letter-spacing: 4px;
    color: #575757;
 }



 */
p, h3{
    font-family: robotor !important;
}

 .padding0 {
    padding: 0px !important
  }
  #scoraMain_bg{
      width:100%;
      height: auto;
      background-color: #35383c;
      float: left;
  }
  .homeSlider{
      width:80%;
      height: 400px;
      float: left;
  }
#scoraMain_bg h3{
    text-align: center;
    color:#40a9f2;
    font-weight: 1000;
    line-height: 30px;
    text-transform: uppercase;
    /* margin-top:70px; */
    /* padding-bottom: 10px; */
}
.Mainrow{
    margin-top:-21px;

}
.scrollImg{
    border-top:1px solid #45484c;
    text-align: center;
    margin-top:96px;

}
.leftslider_Side{
    border-right:1px solid #45484c;
    height: 445px !important;
    width: 10%;
    float: left;
}
.rightslider_Side{
    border-left:1px solid #45484c;
    height: 445px !important;
    width: 10%;
    float: left;
}
.clear{
    clear: both;
}
.scoraBlock1{
    background-image: url("../../../../../assets/images/Scora_HomePage/bg_img.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* margin-top: -20px; */
    text-align: center;
    
}
.scoraBlock1 h2{
    text-align: center;
    color:#27292c;
    font-weight: 1000;
    line-height: 30px;
    margin: 70px 0px 50px 0px;
}
.imgdiv{
    background-image: url("../../../../../assets/images/Scora_HomePage/about_shape_layer.png");
    background-position: center;
    background-size: 100%;
    height: 150px;
    width:150px;
    margin: auto;
    background-repeat: no-repeat;
}
.imgdiv img{
    width:30%;
    margin: auto;
    margin-top:55px;
}
.scoraBlock1 p{
    margin-top:20px;
    width:80%;
    margin: auto;
    font-size: 1.1em; 
}
.carousel-control.right{
    background-image: none !important;
}
.carousel-control.left{
    background-image: none !important;
}
.glyphicon{
    position: relative;
    top: 50% !important;
    display: inline-block;
}
.scoraBlock1_Txt{
    margin-top:30px;
    color:#6c6c6d;
}
.scoraBlock1_Txt p{
    width:70%;
    margin: auto;
    padding-bottom: 60px;
}
.scoraBlock2{
    background: linear-gradient(#f8f9fa, #fff);
    height: 535px;
}
.scoraBlock2 .navimg{
    text-align: center;
}
.scoraBlock2 .navimg .arrow2{
    width:15%;
}
.scoraBlock2 h3{
    /* font-family: robotor !important; */
    font-weight: 900;
    font-size: 30px;
    padding-bottom: 50px;
    
}
.scoraBlock2 .scoraBlock2_Why{
    color: #40a9f2;
}
.Textcolumn1{
    width: 30%;
    float: left;
    box-sizing:border-box;
    height: auto;
    /* border:1px solid #35383c; */
}
.column1{
    width: 17.5%;
    min-width: 150px;
    float: left;
    height: auto;
    box-sizing: border-box;
    border-left:3px solid #fff;
}


/* scoraBlock2 boxes on hover text appear code starts here */

#clipped-title1 {
	background: url(../../../../../assets/images/Scora_HomePage/TxtBg1.jpg) no-repeat center center;
	background-size: cover;
	color: #fff;
	-webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    height: auto;
    margin-left: 25px;
}
#clipped-title1 h1 {
	font-size: 2em;
	/* font-family: robotor !important; */
	text-align: left;
	-webkit-transition: text-shadow 1s ease;
	text-shadow: 0 0 1px rgba(0,0,0,.1);
    margin: 0;
    font-weight: 900 !important;
    text-transform: uppercase;
    padding: 0;
    font-family:sans-serif;
    margin-top: 44%;
    margin-left: 25px;
    /* left: 50%; */
    
}


.HoverContainer {
    position: relative;
    width: 100%;
  }
  
  .scoraBlock2 .HoverContainer_image {
    display: block;
    width: 100%;
    height: 400px;
    border-bottom: 10px solid #ffcb3c;
    /* z-index: 1; */
    /* position: absolute; */
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffcb3c;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }
  
  div.HoverContainer:hover div.overlay {
    height: 50%;
  }
  
  .HoverContainer_text {
    color: white;
    font-size: 1.1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: left;
    width: 90%;
  }



/* scoraBlock2 boxes on hover text appear code ends here */

/* scoraBlock3 css code starts here */

.scoraBlock3{
    background-image: url("../../../../../assets/images/Scora_HomePage/bg_img2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    height: 468px;
}

#clipped-title2 {
	background: url(../../../../../assets/images/Scora_HomePage/TxtBg2.jpg) no-repeat center center;
	background-size: cover;
	color: #fff;
	-webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    height: auto;
    margin-left: 25px;
}
#clipped-title2 h1 {
	font-size: 2em;
	/* font-family: robotor !important; */
	text-align: left;
	-webkit-transition: text-shadow 1s ease;
	text-shadow: 0 0 1px rgba(0,0,0,.1);
    margin: 0;
    font-weight: 900 !important;
    text-transform: uppercase;
    padding: 0;
    font-family:sans-serif;
    margin-top: 53%;
    margin-left: 25px;
    
}
.Col_1{
    width: 17.5%;
    min-width: 150px;
    float: left;
    height: 300px;
    box-sizing: border-box;
    margin-top: 10%;
}
.Col_1_2{
    width: 35%;
    min-width: 150px;
    float: left;
    height: 300px;
    box-sizing: border-box;
    margin-top: 10%;
}
.colbg{
    background-color:#fff;
    height: 200px;
    text-align: left;
    width:90%;
    float: left;
    border-bottom: 7px solid #909090;
    box-shadow: #ccc -2px 1px 1px;
    border-radius: 3px;
    
}
.colbg p{
    margin-top:35px;
    color:#909090;

}

/* scoraBlock3 css ends here */

/* scoraBlock4 css starts here */
#clipped-title3 {
	background: url(../../../../../assets/images/Scora_HomePage/TxtBg3.jpg) no-repeat center center;
	background-size: cover;
	color: #fff;
	-webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    height: auto;
    margin-left: 25px;
}
#clipped-title3 h1 {
	font-size: 2em;
	/* font-family: robotor !important; */
	text-align: left;
	-webkit-transition: text-shadow 1s ease;
	text-shadow: 0 0 1px rgba(0,0,0,.1);
    margin: 0;
    font-weight: 900 !important;
    text-transform: uppercase;
    padding: 0;
    font-family:sans-serif;
    margin-top: 50%;
    margin-left: 25px;
    /* left: 50%; */
    
}

.scoraBlock2 .HoverContainer_image1 {
    display: block;
    width: 100%;
    height: 400px;
    border-bottom: 10px solid #5fd1ee;
  }

.overlay1 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #5fd1ee;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }
  .HoverContainer:hover .overlay1 {
    height: 50%;
  }
  .scoraBlock4{
      height: auto !important;
  }
/* scoraBlock4 css ends here */

/* scoraBlock5 css starts here */

.scoraBlock5{
    text-align: center;
}
.scoraBlock5 .imgBlock5_1{
    width:15%;
    margin-top: 50px;
}


.scoraBlock5 .imgBlock5_2{
    width: 58%;
    margin-left: -24px;
    float: left;
    margin-top: 8px;
}
.scoraBlock5 .imgBlock5_3{
    width: 30%;
    float: left;
}
.scoraBlock5 .imgBlock5_4{
    width: 71%;
    float: right;
    margin-right: -25px;
    margin-top: 133px;
}

.scoraBlock5 .imgBlock5_5{
    width: 45%;
    margin-left: 6%;
    margin-top: -100px;
}
.scoraBlock5 .imgBlock5_6{
    width: 82%;
    margin-top: -152px;
    margin-left: 35%;
}
.empH3{
    font-weight: 900;
    color: #4f5157;
    margin-left: 375px;
    margin-top: 7px;
    float: left;
    width: 20%;
}
.empP{
    width: 55%;
    float: left;
    margin-left: 41%;
    color:#777;
}
.empH3_2{
    margin-left: 20px;
    font-weight: 600;
}
.empP_2{
    width: 80%;
    margin-left: 55px;
    color:#777;

}
.empH3_3{
    margin-left: 218px;
    font-weight: 600;

}
.empP_3{
    WIDTH: 80%;
    MARGIN-LEFT: 35%;
    color:#777;

}
.empH3_4{
    float: right;
    margin-top: 100px;
    margin-right: -151px;
    font-weight: 600;

}
.empP_4{
    float: right;
    width: 25%;
    clear: both;
    margin-right: 23px;
    color:#777;

}
.linkBtn1{
    margin-right: 32.5% !important;
    cursor: pointer;
}
.linkBtn2{
    margin-right: 9.5% !important;
    cursor: pointer;
}
.linkBtn3{
    clear: both;
    margin-right: 9% !important;
    cursor: pointer;
}
.scoraBlock5 .imgBlock5_7{
    margin-top: -14px;
    width: 4.8%;
    margin-left: 5.2%;
}
.linkBtn{
    float: right;
    margin-right: 21.5%;
    padding: 10px 30px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: #999 0px 2px 6px;
    color: #555;
    text-decoration: none;
}
.scoraBlock5 .imgBlock5_8{
    width: 60%;
    margin-top: -30px;
    margin-left: -100px;
}
.scoraBlock5 .imgBlock5_9{
    width: 15%;
    margin-top: -128px;
    float: right;
    margin-right: 97px;
}

/* scoraBlock5 css ends here */

/* scoraBlock6 css starts here */

.scoraBlock6{
    background-image: url("../../../../../assets/images/Scora_HomePage/ReqImg.png");
    background-repeat: no-repeat;
    background-position: left;
    width: 100%;
    height: 444px;
    float: left;
    background-color: #fff !important;
}
.scoraBlock6 .navimg{
    text-align: center;
    margin-top: 40px;
}
.scoraBlock6 H3{
    font-weight: 900;
    color: rgb(48, 47, 47);
}
.scoraBlock6 p{
    FONT-WEIGHT: 600;
    font-size: 10px;
    letter-spacing: 0.4em;
    margin-top: -9px;
}
.scoraBlock6 .nameFile{
    width:50%;
    float: left;
    box-sizing: border-box;
    margin-bottom: 15px;

}
.scoraBlock6 .nameFile input{
    padding: 27px;
    border-radius: 50px;
}
.scoraBlock6 .phoneFile{
    width:50%;
    float: left;
    box-sizing: border-box;
}
.scoraBlock6 .phoneFile .input-group-addon{
    width:20%;
    float: left;
    padding: 20px;
    border-radius: 50px 0px 0px 50px;
    color:#fff;
    background-color: #111;
}
.scoraBlock6 .phoneFile .input-medium{
    width: 80%;
    float: left;
    padding: 27px;
    border-radius: 0px 50px 50px 0px;
}
.scoraBlock6 .emailFile .Email{
    width: 100%;
    float: left;
    padding: 27px;
    border-radius: 50px;
    border: 1px solid #ccc;
}

.SubmitRequest{
    padding:15px 0px;
    background: linear-gradient(#41a8f5, #29d2dd);
    border-radius: 50px;
    color: #fff;
    font-size: 16px;
    margin-top: 30px;
    float: left;
    min-width: 150px;
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    border:1px solid #219af0;
}









/* scoraBlock6 css ends here */

.arrow4{
    width:15%;
}
.arrow4:hover{
    cursor: pointer;
}
.arrow2:hover{
    cursor: pointer;
}
.imgBlock5_1:hover{
    cursor: pointer;
}
.scrollImg img:hover{
    cursor: pointer;
}




.animated {
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
  } 
  
  @-webkit-keyframes bounce {
    0%, 20%, 40%, 60%, 80%, 100% {-webkit-transform: translateY(0);}
    50% {-webkit-transform: translateY(-5px);}
  } 
  
  @keyframes bounce { 
    0%, 20%, 40%, 60%, 80%, 100% {transform: translateY(0);}
    50% {transform: translateY(-5px);}
  } 
  
  .bounce { 
    -webkit-animation-name: bounce;
    animation-name: bounce;
  }
  
  #animated-example {
      width: 20px;
      height: 20px;
      background-color: red;
      position: relative;
      top: 100px;
      left: 100px;
      border-radius: 50%;
  }
  
  hr {
      position: relative;
      top: 92px;
      left: -300px;
      width: 200px;
  }
  .HoverContainer:hover .abcdefg {
    display: none;
}
.abcdefg{
    opacity: 0.5;
}
.maskClass{
    margin-top:-621px !important; width:80%; margin-left:10%; margin-right:10%;
}
/* @media queries starts here */
@media only screen and (max-width: 1920px) and (min-width: 1367px)  {
    .maskClass {
        margin-top: -823px !important;
        width: 82%;
        margin-left: 9%;
    }
    .leftslider_Side{
        height: 645px !important;
    }
    .rightslider_Side{
        height: 645px !important;
    }
    .column1{
        width: 14.5%;
    }
    .scoraBlock2 .HoverContainer_image{
        height: 480px;
    }
    .scoraBlock2 .HoverContainer_image1{
        height: 480px;
    }
    .Textcolumn1{
        margin-left: 4%;
    }
    .scoraBlock2{
        height: 623px;
    }
    #clipped-title1 h1{
        font-size: 3em;
    }
    #clipped-title2 h1{
        font-size: 3em;
    }
    #clipped-title3 h1{
        font-size: 3em;
    }
    .Col_1_2{
        width: 25%;
    }
    .scoraBlock3{
        height: 543px;
    }
    .scoraBlock5 .imgBlock5_4{
        margin-right: -33px;
    }
    .empH3{
        margin-left: 551px;
    }
    .linkBtn1{
        margin-right: 39.5% !important;
    }
    .scoraBlock5 .imgBlock5_8{
        margin-top: -100px;
        margin-left: -165px;
    }
    .scoraBlock5 .imgBlock5_9{
        margin-top: -185px;
        margin-right: 144px;
    }
    .empH3_4{
        margin-top: 132px;
        margin-right: -192px;
    }
    .linkBtn3{
        margin-right: 12% !important;
    }
    .empH3_3 {
        margin-left: 303px;
    }
    .HoverContainer_text{  
        font-size: 1.3em;
    }
    .m-top10{
        margin-top:95px !important;
    }
}
@media only screen and (max-width: 1024px) {
    .Col_1{
        width: 35%;
        height: 180px;
    }
    .Col_1_2{
        margin-top: 5%;
        float: right;
    }
    .scoraBlock3{
        height: 560px;
    }
    .scoraBlock5{
        float: left;
    }
    .empH3{
        margin-left: 258px !important;
    }
    .empH3_2{
        font-weight: 600;
    }
    .scoraBlock5{
        /* margin-left: 10%; */
        /* margin-top:0px; */
    }
    .imgBlock5_9{
        width: 15%;
        margin-top: -90px;
        float: right;
        margin-right: 92px;
    }
    .empP_4 {
        float: right;
        width: 25%;
        clear: both;
        margin-right: 41px;
        color: #777;
    }
    .scoraBlock5 .imgBlock5_9 {
        width: 15%;
        margin-top: -80px;
        float: right;
        margin-right: 70px;
    }
    .empH3_4 {
        float: right;
        margin-top: 85px;
        margin-right: -129px;
    }
    linkBtn {
        float: right;
        margin-right: 17.5%;
    }
    .empH3_3 {
        margin-left: 150px;
    }
    .scoraBlock5 .imgBlock5_9 {
        width: 15%;
        margin-top: -94px;
    }
    .scoraBlock5 .imgBlock5_8 {
        width: 60%;
        margin-top: 10px;
    }
    #col6{
        margin-left: -4%;
    margin-top: 0px;
    }
    .maskClass{
        margin-top: -511px !important;
    }
    .scrollImg{
        margin-top: 20px;
    }
    .HoverContainer_text{
        font-size: 0.8em;
    }
    .abcdefg{
        margin-right: 20px !important;
    }
}
    @media only screen and (max-width: 1280px) {
        .empH3 {
            font-weight: 900;
            color: #4f5157;
            margin-left: 353px;
        }
        .scoraBlock5 .imgBlock5_9 {
            margin-right: 92px;
            margin-top: -72px;
    }
    .scoraBlock5 .imgBlock5_8 {
        margin-top: -21px;
    }
    .scoraBlock5 .imgBlock5_9 {
        margin-right: 92px;
        margin-top: -126px;
    }
    .empH3_4[_ngcontent-c2] {
        margin-top: 81px;
        margin-right: -150px;
    }
}
@media only screen and (max-width: 800px) {
    .maskClass{
        margin-top: -475px !important;
    }
}
@media only screen and (max-width: 768px) {
    .column1[_ngcontent-c2] {
        width: 35%;
        min-width: 150px;
        float: right;
    }
    .scrollImg[_ngcontent-c2] {
        border-top: 1px solid #45484c;
        text-align: center;
        margin-top: -57px;
    }
    .empH3{
        margin-left: 170px !important;
    }
    .empH3_4{
        margin-right: 70px !important;
    }
    
}
