<div class="row Mainrow">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
    <div id="scoraMain_bg">
            <div class="leftslider_Side"></div>
            <div class="homeSlider">


                <div id="myCarousel" class="carousel slide" style="z-index:0" data-ride="carousel">
                    <!-- Indicators -->

                    <!-- <ol class="carousel-indicators">
                      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                      <li data-target="#myCarousel" data-slide-to="1"></li>
                      <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol> -->
                
                    

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" style="z-index:-1; width:80%; margin-left:10%; margin-right:10%;">
                      <div class="item active">
                        <img src="assets/images/Scora_HomePage/scora_slider1.jpg" alt="ScoraXchange" style="width:100%;">
                        <h3 style="bottom:0 !important;">Bridging talent and <br/>opportunities.</h3>
                      </div>
                      <div class="item">
                        <img src="assets/images/Scora_HomePage/scora_slider2.jpg" alt="ScoraXchange" style="width:100%;">
                        <h3 style="bottom:0 !important;">Organizing and automating <br/> recruitment process.</h3>
                      </div>
                      <div class="item">
                        <img src="assets/images/Scora_HomePage/scora_slider3.jpg" alt="ScoraXchange" style="width:100%;">
                        <h3 style="bottom:0 !important;">Building efficiency in placement <br/> management.</h3>
                      </div>    
                      <div class="item">
                        <img src="assets/images/Scora_HomePage/scora_slider4.jpg" alt="ScoraXchange" style="width:100%;">
                        <h3 style="bottom:0 !important;">Empowering students with a world <br/> of opportunities. </h3>
                      </div>
                    </div>
                    <img src="assets/images/Scora_HomePage/slider_mask.png" alt="ScoraXchange" class="maskClass">
                
                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                      <span class="glyphicon">
                        <img src="assets/images/Scora_HomePage/left_slider_arrow.png" alt="ScoraXchange">
                      </span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                      <span class="glyphicon">
                          <img src="assets/images/Scora_HomePage/left_slider_arrow.png" style="transform: rotate(180deg);" alt="ScoraXchange">
                        </span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>






            </div>
            <div class="rightslider_Side"></div>
      <div class="bnr_Txt col-lg-12"></div>
      <div class="col-lg-2 col-sm-2 col-xs-2 col-md-2"></div>
      <div class="scrollImg col-lg-8 col-sm-8 col-xs-8 col-md-8" id="col1"><a> <img src="../../../../../assets/images/Scora_HomePage/scroll-down3.gif" width="50px" alt="ScoraXchange"></a></div>
      <div class="col-lg-2 col-sm-2 col-xs-2 col-md-2"></div>
    </div>
    <div class="clear"></div>
    <div class="col1"></div>
    <div class="scoraBlock1">
      <div class="container">
          <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12"><h2>ABOUT SCORAXCHANGE</h2></div>
          <div class="col-lg-4 col-sm-12 col-xs-12 col-md-4 scoraBlock1_1">
            <div class="imgdiv">
              <img src="../../../../../assets/images/Scora_HomePage/icon_01.png" alt="ScoraXchange">
            </div>
            <p data-aos="flip-left"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2000">ScoraXchange is an eco-system of institutes, employers and students, that is efficient, evolving, and empowering to all its entities</p>
          </div>
          <div class="col-lg-4 col-sm-12 col-xs-12 col-md-4 scoraBlock1_2">
            <div class="imgdiv">
              <img src="../../../../../assets/images/Scora_HomePage/icon_02.png" alt="ScoraXchange">
            </div>
            <p data-aos="flip-left"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2000">It brings millions of institutes, companies and students from across the country, on a single, cloud-based platform and allows for a multi-faceted communication from each end</p>
          </div>
          <div class="col-lg-4 col-sm-12 col-xs-12 col-md-4 scoraBlock1_3">
            <div class="imgdiv">
              <img src="../../../../../assets/images/Scora_HomePage/icon_03.png" alt="ScoraXchange">
            </div>
            <p data-aos="flip-left"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2000">Despite the extensive data, the technological wonder allows each of its user to access their perfect fit within seconds, through intelligent filtering based on the requirement, skills and qualifications mentioned. </p>
          </div>
          <div class="col-lg-12 scoraBlock1_Txt">
            <p>Apart from this, the platform organizes and automates the hiring process for the employers, enables data-driven placements for institutes and provides a world of opportunities for the students. </p>
          </div>
      </div>
    </div>
    <div class="scoraBlock2">
      <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12 navimg">
          <img class="arrow2" id="col2" src="assets/images/Scora_HomePage/icon_04.png" alt="ScoraXchange"><br/>
          <div class="col2"></div>

          <h3><span class="scoraBlock2_Why">WHY</span> SCORAXCHANGE</h3>
          <div class="Textcolumn1">
            <div data-aos="fade-left" id="clipped-title1">
              <h1>A Revolution <br/>like none other</h1>
            </div>
          </div>
          <div class="column1">
            <div class="HoverContainer">
              <img data-aos="flip-right"
              data-aos-easing="ease-out-cubic"
              data-aos-duration="2000" src="assets/images/Scora_HomePage/img_01.jpg" alt="ScoraXchange" class="HoverContainer_image">
              <img class="abcdefg" src="assets/images/Scora_HomePage/icon-scroll2.gif" style="z-index: 3;  width: 99px; float: left; position: absolute; margin-top: -154px;  margin-left: -43px; transform: rotate(180deg);">
              <div class="overlay">
                <div class="HoverContainer_text">ScoraXchange is a one-of-a-kind, multi-sided marketplace that revolutionizes the entire campus placement and recruitment industry. </div>
              </div>
            </div>
          </div>
          <div class="column1">
            <div class="HoverContainer">
              <img data-aos="flip-right"
              data-aos-easing="ease-out-cubic"
              data-aos-duration="2000" src="assets/images/Scora_HomePage/img_02.jpg" alt="ScoraXchange" class="HoverContainer_image">
              <img class="abcdefg" src="assets/images/Scora_HomePage/icon-scroll2.gif" style="z-index: 3;  width: 99px; float: left; position: absolute; margin-top: -154px;  margin-left: -43px; transform: rotate(180deg);">

              <div class="overlay">
                <div class="HoverContainer_text">It hosts an extensive database of institutes, students &companies and opens communications on all ends for a specifically targeted interaction. </div>
              </div>
            </div>
          </div>
          <div class="column1">
            <div class="HoverContainer">
              <img data-aos="flip-right"
              data-aos-easing="ease-out-cubic"
              data-aos-duration="2000" src="assets/images/Scora_HomePage/img_03.jpg" alt="ScoraXchange" class="HoverContainer_image">
              <img class="abcdefg" src="assets/images/Scora_HomePage/icon-scroll2.gif" style="z-index: 3;  width: 99px; float: left; position: absolute; margin-top: -154px;  margin-left: -43px; transform: rotate(180deg);">
              <div class="overlay">
                <div class="HoverContainer_text">The immense data that it hosts is technologically empowered for each user to filter their search to match their needs within no time. </div>
              </div>
            </div>
          </div>
          <div class="column1">
            <div class="HoverContainer">
              <img  data-aos="flip-right"
              data-aos-easing="ease-out-cubic"
              data-aos-duration="2000" src="assets/images/Scora_HomePage/img_04.jpg" alt="ScoraXchange" class="HoverContainer_image">
              <img class="abcdefg" src="assets/images/Scora_HomePage/icon-scroll2.gif" style="z-index: 3;  width: 99px; float: left; position: absolute; margin-top: -154px;  margin-left: -41px; transform: rotate(180deg);">
              <div class="overlay">
                <div class="HoverContainer_text">This helps companies do away with a sea of data that is irrelevant, hence saving time, and for the students to scout for companies ranging from an international brand name located anywhere in the country, to a thriving start-up just around the corner.</div>
              </div>
            </div>
          </div>

          <!-- <div class="column1">
            <div class="HoverContainer">
              <img data-aos="flip-right"
              data-aos-easing="ease-out-cubic"
              data-aos-duration="2000" src="assets/images/Scora_HomePage/img_04.jpg" alt="ScoraXchange" class="HoverContainer_image">
              <img class="abcdefg" src="assets/images/Scora_HomePage/icon-scroll2.gif" style="z-index: 3;  width: 99px; float: left; position: absolute; margin-top: -154px;  margin-left: -43px; transform: rotate(180deg);">

              <div class="overlay">
                <div class="HoverContainer_text">This helps companies do away with a sea of data that is irrelevant, hence saving time, and for the students to scout for companies ranging from an international brand name located anywhere in the country, to a thriving start-up just around the corner. </div>
              </div>
            </div>
          </div> -->
          <img class="arrow4" id="col3" src="assets/images/Scora_HomePage/icon_04.png" alt="ScoraXchange"><br/>
      </div>
</div>
    <div class="scoraBlock3">
        <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
            <div class="col3"></div>
  
          <div class="Textcolumn1">
            <div data-aos="fade-left" id="clipped-title2">
              <h1>Experience <br/>Meets Innovation</h1>
            </div>
          </div>
          <div class="Col_1">
            <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12 colbg">
              <p data-aos="flip-left"
              data-aos-easing="ease-out-cubic"
              data-aos-duration="2000">ScoraXchange is the brain-child of industry veterans who have seen, experienced and even brought in transformation in technology</p>
            </div>
          </div>
          <div class="Col_1">
              <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12 colbg">
              <p data-aos="flip-left"
              data-aos-easing="ease-out-cubic"
              data-aos-duration="2000">Promise of state-of-the-art technological solutions for increased efficiency & accuracy, and innova-tion that can herald advancement.</p>
              </div>
            </div>
          <div class="Col_1_2">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 colbg">
              <p data-aos="flip-left"
              data-aos-easing="ease-out-cubic"
              data-aos-duration="2000">Technology that revolutionizes the professional sphere by - bringing immense data on the platform, opening focused communications on several ends, and organizing and automating the systems to reduce manual effort.</p>
              </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="col-lg-12"><img class="arrow4" id="col7" style="width: 15%;
          margin-left: 42.5%;" src="assets/images/Scora_HomePage/icon_04_2.png" alt="ScoraXchange">
        </div>
    </div>
    <div class="scoraBlock2 scoraBlock4">
      <div class="col7"></div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-color:#f8f9fa;">
            <div class="Textcolumn1">
              <div data-aos="fade-left" id="clipped-title3">
                <h1>Foundation <br/>of Principles</h1>
              </div>
            </div>
            <div class="column1">
              <div class="HoverContainer">
                <img  data-aos="flip-left"
                data-aos-easing="ease-out-cubic"
                data-aos-duration="2000" src="assets/images/Scora_HomePage/img_05.jpg" alt="ScoraXchange" class="HoverContainer_image1">
                <img class="abcdefg" src="assets/images/Scora_HomePage/icon-scroll2.gif" style="z-index: 3;  width: 99px; float: left; position: absolute; margin-top: -154px;  margin-left: 81px; transform: rotate(180deg);">

                <div class="overlay1">
                  <div class="HoverContainer_text">We host millions of students, higher-education institutes and employers to provide equal opportuni-ties for every student, and to support efficient, data-driven recruitment.</div>
                </div>
              </div>
            </div>
            <div class="column1">
              <div class="HoverContainer">
                <img data-aos="flip-left"
                data-aos-easing="ease-out-cubic"
                data-aos-duration="2000" src="assets/images/Scora_HomePage/img_06.jpg" alt="ScoraXchange" class="HoverContainer_image1">
                <img class="abcdefg" src="assets/images/Scora_HomePage/icon-scroll2.gif" style="z-index: 3;  width: 99px; float: left; position: absolute; margin-top: -154px;  margin-left: 77px; transform: rotate(180deg);">

                <div class="overlay1">
                  <div class="HoverContainer_text">We’ve built ScoraXchange with the idea of bringing in not only more opportunities, but the right ones, for both students and companies. </div>
                </div>
              </div>
            </div>
            <!-- <div class="column1">
              <div class="HoverContainer">
                <img data-aos="flip-left"
                data-aos-easing="ease-out-cubic"
                data-aos-duration="2000" src="assets/images/Scora_HomePage/img_07.jpg" alt="ScoraXchange" class="HoverContainer_image1">
                <img class="abcdefg" src="assets/images/Scora_HomePage/icon-scroll2.gif" style="z-index: 3;  width: 99px; float: left; position: absolute; margin-top: -154px;  margin-left: 77px; transform: rotate(180deg);">

                <div class="overlay1">
                  <div class="HoverContainer_text">We’ve built ScoraXchange with the idea of bringing in not only more opportunities, but the right ones, for both students and companies. </div>
                </div>
              </div>
            </div>
 -->
            <div class="column1">
              <div class="HoverContainer">
                <img data-aos="flip-left"
                data-aos-easing="ease-out-cubic"
                data-aos-duration="2000" src="assets/images/Scora_HomePage/img_07.jpg" alt="ScoraXchange" class="HoverContainer_image1">
                <img class="abcdefg" src="assets/images/Scora_HomePage/icon-scroll2.gif" style="z-index: 3;  width: 99px; float: left; position: absolute; margin-top: -154px;  margin-left: 76px; transform: rotate(180deg);">

                <div class="overlay1">
                  <div class="HoverContainer_text">Not only this, through service providers on ScoraXchange, we aim to truly empower students to showcase and present their best to the prospective employers.  </div>
                </div>
              </div>
            </div>
            <div class="column1">
              <div class="HoverContainer">
                <img data-aos="flip-left"
                data-aos-easing="ease-out-cubic"
                data-aos-duration="2000" src="assets/images/Scora_HomePage/img_08.jpg" alt="ScoraXchange" class="HoverContainer_image1">
                <img class="abcdefg" src="assets/images/Scora_HomePage/icon-scroll2.gif" style="z-index: 3;  width: 99px; float: left; position: absolute; margin-top: -154px;  margin-left: 85px; transform: rotate(180deg);">

                <div class="overlay1">
                  <div class="HoverContainer_text">This helps companies do away with a sea of data that is irrelevant, hence saving time, and for the students to scout for companies ranging from an international brand name located anywhere in the country, to a thriving start-up just around the corner. </div>
                </div>
              </div>
            </div>
  
        </div>

    </div>
    <div class="scoraBlock5">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-color:#f8f9fa; padding-bottom: 50px !important">
        <img class="imgBlock5_1" style="cursor:default !important;" src="assets/images/Scora_HomePage/services_img.png" alt="ScoraXchange"><br/>
        <h1 style="margin:auto; width:40%; line-height: 20px; margin-top: 20px;">OFFERING<br/>
          <span style="font-size: 14px; line-height: 20px; margin-top: 37px; float: left; color: #777;">ScoraXchange joins the dots between talent looking to thrive, and opportunities waiting to be
              explored, by organizing and automating the recruitment and placement processes in a data driven
              manner.</span><br/>
              <div class="clear"></div>
          <img  class="imgBlock5_1" id="col4" src="assets/images/Scora_HomePage/icon-scroll1.gif" style="margin-top:0px !important" alt="ScoraXchange">
        </h1>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <img id="EventsHighlight" class="imgBlock5_4" src="assets/images/Scora_HomePage/services_institute_arrow.png" alt="ScoraXchange"><br/>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <img class="imgBlock5_2" src="assets/images/Scora_HomePage/services_employer_arrow.png" alt="ScoraXchange"><br/>
            <div class="col4"></div>
            <img class="imgBlock5_3" data-aos="zoom-in" src="assets/images/Scora_HomePage/employer.png" alt="ScoraXchange"><br/>
            <h3 class="empH3">EMPLOYER</h3>
            <p class="empP">Now access a pool of talent that is filtered to perfectly suit your hiring needs, automatically eliminat-ing a sea of data that is irrelevant to the position. </p>
            <a routerLink="/comapanyLandingPage" class="linkBtn">know more</a>
            <div class="clear"></div>
            <img  class="imgBlock5_1" id="col5" style="width: 12%; margin-left: 37%; margin-top:0px" src="assets/images/Scora_HomePage/icon-scroll1.gif" alt="ScoraXchange">
          </div>
        <div class="clear"></div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <!-- <div class="col5"></div> -->
          <img class="imgBlock5_5 col5" data-aos="zoom-in" src="assets/images/Scora_HomePage/institute.png" alt="ScoraXchange"><br/>
          <h3 class="empH3_2">INSTITUTE</h3>
          <p class="empP_2">Build an efficient placement management system, that presents organized student profiles and helps each of them get an opportunity perfectly suited to their skills.  </p>
          <a routerLink="/campusLandingPage" class="linkBtn linkBtn1">know more</a>
          <div class="clear"></div>
          <img  class="imgBlock5_1" id="col6"  style="width: 15%; margin-left: 5%; margin-top: 0px;" src="assets/images/Scora_HomePage/icon-scroll1.gif" alt="ScoraXchange">
        </div>
        <div class="col-lg-4  col-md-4 col-sm-4 col-xs-4">
          <img class="imgBlock5_6" data-aos="zoom-in" src="assets/images/Scora_HomePage/events.png" alt="ScoraXchange"><br/>
          <h3 class="empH3_3">EVENTS</h3>
          <p class="empP_3">From branding to workshops, organize events for marketing promotions, reaching your desired tar-get audience directly.</p>
          <!-- <a href="" class="linkBtn linkBtn2">know more</a> -->
        </div>
        <div class="col-lg-4  col-md-4 col-sm-4 col-xs-4">
            <img class="imgBlock5_7" src="assets/images/Scora_HomePage/employer_student_arrow.png" alt="ScoraXchange"><br/>
        </div>
        <div class="clear"></div>
        <!-- <div class="col6"></div> -->
        <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12">
            <img class="imgBlock5_8" src="assets/images/Scora_HomePage/institute_student_arrow.png" alt="ScoraXchange"><br/>
            
            <img class="imgBlock5_9 col6" data-aos="zoom-in" src="assets/images/Scora_HomePage/student.png" alt="ScoraXchange"><br/>
            <h3 class="empH3_4">STUDENT</h3>
            <p class="empP_4">Empower your future by accessing opportunities that are perfectly crafted for your skills and inter-est, through an efficient and organized presentation of your profile. </p>
            <a  routerLink="/studentLandingPage" class="linkBtn linkBtn3">know more</a>
        </div>
      </div>
    </div>
    <div class="scoraBlock6">
      <div class="col-sm-12 col-md-12 col-sm-12 col-xs-12 navimg">
          <img class="arrow2" src="assets/images/Scora_HomePage/Req_Demo_TitleImg.png" alt="ScoraXchange"><br/>
          <h3>REQUEST FOR DEMO</h3>
          <p>WE ARE HAPPY TO HELP YOU</p>
          <div class="clear"></div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="margin-top:55px;">
            <form #requestForDemoform="ngForm">
              <div class="nameFile">
                  <input  type="text" class="form-control"  placeholder="Name" id="name" name="firstName"
                  [(ngModel)]="request.name" #firstName="ngModel"  maxlength="40"  required>
              </div>

              <div class="phoneFile">
                  <span class="input-group-addon"><i>+91</i></span>
                  <input type="text" placeholder="Phone Number" class=" form-control input-medium bfh-phone" data-format="(ddd) ddd-dddd"
                  [(ngModel)]="request.phone" #mobile="ngModel" name="mobile" id="mobile"  minlength="10" maxlength="10" required>
              </div>

              <div class="emailFile">
                  <input  type="email" email class="form-control Email" placeholder="Email" name="email" #email="ngModel" [(ngModel)]="request.emailId" placeholder=" Email ID" id="email"
                  required>
              </div>


              <div class="clear"></div>
              <!-- <a href="#" class="SubmitRequest">SUBMIT</a> -->

              <button type="submit" id="companySignup"
                class="SubmitRequest" [disabled]="!requestForDemoform.form.valid" (click)="requestForDemo(requestForDemoform)"> Request for demo</button>

            </form>
          </div>
          <div class="col-lg-2"></div>
      </div>
    </div>
  </div>

</div>
<a  class="scrollToTop cursor-pointer"> </a>
<div class="clearfix"></div>
<app-footer></app-footer>